.results-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picker-wrapper {
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 50em;
  margin-left: 12em;
  padding: 1em;
}

div.picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.results {
  width: 90vw;
  margin-left: 12vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.result {
  height: 30em;
  width: 35em;
  background: rgba(0, 0, 0, 0.8);
  margin: 1em;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.method-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin: 0 2em 0 0;
}

input {
  background-color: black;
}

#method-name  {
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid #3a3a3a;
  padding: .5em;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

#method-description {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar p {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Source Sans Pro', sans-serif;
}

p:hover {
  color: white;
}

p a {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

p a:hover {
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.navbar {
  background-color: black;
  width: 14em;
  position: fixed;
  overflow: scroll;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
}

h2, h5 {
  color: white;
  font-family: 'Raleway', sans-serif;

}

h4 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}

h2 {
  font-family: 'Raleway', sans-serif;
}

button {
  height: 3em;
  width: 10em;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid black;
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  transition: 0.5s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.5s;
}

button:focus {
  background-color: grey;
  outline: none;
}

button:disabled {
  color: #282828;
  background-color: #404144;
}

#method-name-p {
  margin: 1em;
  transition: 0.5s;
}

#method-name-p:hover {
  transition: 0.5s;
  cursor: pointer;
}
.array-methods {
  border-bottom: 1px solid grey;
  width: 7em;
}

.button-row {
  border-bottom: 1px solid grey;
  padding: 1em;
}
