.results-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picker-wrapper {
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 50em;
  margin-left: 12em;
}

div.picker {
  display: flex;
  flex-direction: row;
}

.results {
  width: 90vw;
  margin-left: 12vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.result {
  height: 30em;
  width: 35em;
  background: rgba(0, 0, 0, 0.8);
  margin: 1em;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.method-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin: 0 2em 0 0;
}

input {
  background-color: black;
}

#method-name  {
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid #3a3a3a;
  padding: .5em;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

#method-description {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar p {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Source Sans Pro', sans-serif;
}

p:hover {
  color: white;
}

p a {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  transition: 0.5s;
}

p a:hover {
  color: white;
  transition: 0.5s;
}

.navbar {
  height: 100vh;
  background-color: black;
  width: 12em;
  position: fixed;
  overflow: scroll;
  margin-top: -10em;
}

.wrapper {
  display: flex;
}

h2, h5 {
  color: white;
}

h4 {
  font-size: 20px;
  width: 25em;
  color: rgba(255, 255, 255, 0.8);
}

h2 {
  font-family: 'Raleway', sans-serif;
}

input[type=checkbox] {
  line-height: normal;
}

.ant-checkbox-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#method-name-p {
  margin: 1em;
}
