.results-wrapper, .results, .result, .method-details, .navbar {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: scroll;
}

.results-wrapper, .result, .method-details, .navbar {
  flex-direction: column;
}

.results, .method-details {
  justify-content: center;
}

.results {
  flex-wrap: wrap;
  overflow-x: hide;
}

.result {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  color: white;
  height: 30em;
  justify-content: space-around;
  margin: 1em;
  width: 35em;
}

.results-wrapper {
  width: 85vw;
}

a, button, h2, h5, .method-details h1 {
  font-family: 'Raleway', sans-serif;
}

.navbar p, p a, .method-details h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

a, p:hover, p a:hover, h2, h5 {
  color: white;
}

.method-details h1 {
  border-bottom: 1px solid #3a3a3a;
  padding: .5em;
  margin: 0;
}

a, p a {
  text-decoration: none;
  cursor: pointer;
}

p a:hover, button, .methods p, .methods p:hover {
  transition: 0.5s;
  cursor: pointer;
}

p a {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}

.navbar {
  background-color: black;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  width: 12em;
}

h4 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid black;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 200;
  height: 3em;
  width: 10em;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.5s;
}

button:focus {
  background-color: grey;
  outline: none;
}

button:disabled {
  background-color: #404144;
  color: #282828;
}

.methods p {
  font-size: 18px;
  margin: 1em 0;
}

.methods {
  border-bottom: 1px solid grey;
  width: 7em;
}

.button-row {
  border-bottom: 1px solid grey;
  padding: 1em;
}
