.show-method-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-method {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  width: 70em;
  border-left: 4px solid black;
  border-right: 4px solid black;
}

.show-method-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.show-method-header h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid #3a3a3a;
  padding: .5em;
  width: 10em;
}

.back-btn {
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 1em;
  border-radius: 30px;
  width: 6em;
  font-family: 'Source Sans Pro', sans-serif;
}

.back-btn p {
  margin: 0;
}

.show-method p {
  color: rgba(255, 255, 255, 0.8);
  font
  -family: 'Source Sans Pro', sans-serif;
}
