.code-example {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}


#explanation-text {
  margin-top: 1em;
}

p {
  margin: 0;
}

#code {
  margin: 1.5em;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 1em;
}

.code-explanation p {
  margin: 1em;
}

#red {
  color: #EB0063;
}

#pink {
  color: #EB5B98;
}

#orange {
  color: #ff9900;
}

#lightpurple {
  color: #9999ff;
}

#green {
  color: #84e184;
}
